
    <div class="container" style="text-align: center;">
        <h2>Isikukoodi valideerimis tulemus</h2>
        <p>
        Isik isikukoodiga <%= kood %> on <%= sex %>,
        kes on syndinud <%= päev %>. <%= kuu %> <%= sajand %><%= aasta %>. aastal.
        Tema isikukood registreeriti <%= haigla %>
        Ja sel paeval oli ta <%= queue %>. <%= sex %>
        Isikukoodi kontrollnumbriks on <%= cNum %>
        </p>
        <a href="/">Valideeri uus isikukood</a>
    </div>
